/* 
    Created on : 25/12/2018, 12:11:58
    Author     : Felipe
*/
/*-----------Celular--------------*/

@media screen and (max-width: 768px) {
    body{
        position: relative;
        margin: 0px;
        padding: 0px;
        top: 0px;
        left:0px;
        width:100%;
        max-width:100.01%;
        background-color:#ccc !important; 
        font-family: aegean;
        font-size: 0.7em;
        font-weight: 400;
    }
    h1{
        font-size: 1.9em;
    }
    h2{
        font-size: 1.7em;
    }
    h3{
        font-size: 1.5em;
    }
    h4{
        font-size: 1.3em;
    }
    h5{
        font-size: 1.1em;
    }
    #m-bk and {
        position:fixed;
        display: block !important;
        width:100%;
        min-height: 2em !important;
        /*border-bottom: solid 1px #000;*/
        background-color: #55d1ff;
        border-bottom: 5px solid #08bdff;
    }

    .item-p-m{
        position: relative;
        bottom: -7px;
        width: 2em;
    }
    .img-t-l{

        width: 1.2em;

    }
    .item-p, .item-s, .item-t {
        position: relative;
        display: none !important;
        float:left;

    }

    .item-p{
        width:20%;
        left:1em;
    }

    .item-s{
        width:48%;
        left:25%;
        margin-left: -10%;

        bottom: 0px;
    }

    .item-t{
        position: relative;
        width:12%;
        margin-right: 0em; 
        float: right;
    }


    li.item-p-l, li.item-s-l, li.item-t-l {
        display: block;
        float:left;
        margin: 16.8px 16px 8px 16px;

    }
    .ativo{
        margin: 13.8px 4px 8px 6px !important;
        padding: 0px 12px 0px 10px;
        border-top: 3px solid #08bdff;
        border-bottom: 3px solid #08bdff;
        background-color: #0089bb;
    }
    .ativo-l{
        margin: 13.8px 4px 8px 6px !important;
        padding: 0px 12px 0px 10px;
        border-top: 3px solid #08bdff;
        border-bottom: 3px solid #08bdff;
        background-color: #5df;
    }
}



/*-----------Tablet-------------*/

@media screen and (max-width: 970px) {
    
    .item-p{
        width:1% !important;
    }
    
    
}