footer{
    position: relative;
    top:0.1em;
    margin-top:-0.41em;
    background-color: #f0f0f0;
    width: 100%;
    height: 2.2em;
    background-repeat:no-repeat;
    z-index:58;
}
#textrod{
    position: relative;
    width: 20%;
    top:1.3em;
    left: 50%;
    margin-left: -4em;
   font-size: 0.7em;
}
/*footer{
    position: fixed !important;
    margin-top: 37%;
    background-image: url('../img/rodape.png');
    width: 100%;
    height: 150px;
    background-repeat:no-repeat;
    z-index: 111;
}*/
/*#bordas{
    position:fixed;
    top:-5px;
    background-image: url('../img/bordas.png');
    background-size: 100% 100%;
    width: 99.99%;
    max-width: 100% !important;
    height: 101%;
    background-repeat:no-repeat;
    
}*/

